@import "tailwindcss";

/* Adicione este CSS ao seu arquivo de estilos */
.nav-link {
    position: relative;
    color: #4a5568;
    font-weight: 500;
    transition: color 0.3s;
}

.nav-link:hover {
    color: #c61010;
}

.nav-link::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -4px;
    left: 0;
    background-color: #c61010;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s;
}

.nav-link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.nav-link-mobile {
    color: #4a5568;
    font-weight: 500;
    padding: 8px 0;
    border-bottom: 1px solid #e2e8f0;
}